﻿
@{
    ViewBag.Title = "Index";
    Layout = Layout = "~/Views/Shared/_Admin_Profile.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>admin-template</title>
    <script src="https://use.fontawesome.com/07b0ce5d10.js"></script>
    <script src="~/Custom/Toastr/toastr.js"></script>
    <script src="~/Custom/js/Utility.js"></script>


</head>
<body>
    <div class="row">
        <div class="col-lg-5">
            <div class="portlet card-shadow">
                <div class="portlet-title">
                    <div class="caption caption-red">
                        <i class="fa fa-list"></i>
                        <span class="caption-subject text-uppercase"> Makale Listesi</span>
                    </div>
                    <div class="actions">
                        <a href="javascript:funcCreateNewPost();" class="btn btn-danger ">
                            <i class="fa fa-plus"></i> Yeni Makale Oluştur
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-inline">
                        <div class="form-group">
                            <input id="inputFilterTitle" type="text" class="form-control" placeholder="başlık..." />
                        </div>
                        <div class="form-group">
                            <select id="selectFilterCategory" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <div class="actions">
                                <a href="javascript:funcTablePostReload();" class="btn btn-danger btn-circle active" style="padding: 6px 10px 25px 10px;">
                                    <i class="fa fa-search"></i> Filtrele
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Başlık</th>
                                <th>Tarih</th>
                                <th>Yayın?</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyPostList"></tbody>
                    </table>
                </div>
                <div class="form-inline table-bottom" style="text-align: center;">
                    <a href="javascript:funcGetPostByParams($('#inputPageNumber').val(pageNumber != 1 ? pageNumber=pageNumber -1 : pageNumber=1),'os');" class="btn alert-info pull-left ">
                        <i class="fa fa-arrow-left"></i> Önceki
                    </a>
                    <input id="inputPageNumber" onkeyup="funcGetPostByParams($('#inputPageNumber').val(this.value),'i')" value="1" class="form-control" style="width:auto;" placeholder="Sayfa numarası" />
                    <a href="javascript:funcGetPostByParams($('#inputPageNumber').val(postCount!=pageNumber ? pageNumber=pageNumber +1 : pageNumber=postCount ),'os');" class="btn alert-info pull-right">
                        Sonraki <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="portlet card-shadow">
                <div class="portlet-title">
                    <div class="caption caption-red">
                        <i class="fa fa-cog"></i>
                        <span class="caption-subject text-uppercase"> Makale İşlemi | </span>
                        <span class="caption-subject text-uppercase">
                            <label class="control-label">Yayınlansın mı?</label>
                            <input id="inputIsActive" type="checkbox" />
                        </span>
                    </div>
                    <div class="actions">
                        <a href="javascript:funcPostSave();" id="funcPostSave" class="btn alert-info btn-circle active">
                            <i class="fa fa-check"></i> Kaydet
                        </a>
                        <a href="javascript:funcPostDelete();" class="btn btn-danger btn-circle active">
                            <i class="fa fa-trash"></i> Sil
                        </a>
                        <a href="javascript:funcPostUpdate();" class="btn btn-success btn-circle active">
                            <i class="fa fa-upload"></i> Güncelle
                        </a>
                    </div>
                </div>
                <input id="inputPostId" type="text" class="form-control" style="display:none;" value="0" />
                <div class="portlet-body">
                    <div class="form-group">
                        <label class="control-label">Başlık</label>
                        <input id="inputTitle" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Url Kodu</label>
                        <input id="inputSlug" type="text" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Kısa Açıklama</label>
                        <textarea id="inputShortDescription" class="form-control"></textarea>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label">Resim Seç</label>
                            <input id="fileSelect" type="file" accept="image/*" onchange="funcImageChange(this)" style="display:none;" />
                            <a href="#" onclick="$('#fileSelect').click()" class="btn btn-warning" style="display:block;">Resim Seç</a>
                        </div>
                        <div class="form-group">
                            <img id="imgPost" src="/" />
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label">Kategori Seç</label>
                            <select id="selectCategory" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tarih</label>
                            <input id="inputDate" type="datetime-local" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Makale İçeriği</label>
                        <textarea class="form-control" rows="5" id="inputPostContent"></textarea>
                        @*<div class="summernote"></div>*@
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".sidebar-toggle").click(function () {
                $(this).hide();

                $("#user-profil").show();

                $("#hide-btn").show();

                $(".container-2").css("width", "85%");


            });

            $("#hide-btn").click(function () {
                $(this).hide();

                $("#user-profil").hide();

                $(".sidebar-toggle").show();

                $(".container-2").css("width", "100%");


            });
        });
    </script>
    <script>
        $('.summernote').summernote({
            height: 150,
            codemirror: {
                theme: 'monokai'
            }
        });
    </script>
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCs51QlrshwdLWb5CffoH8L8e9i0yabvNg",
            authDomain: "kitabim-10b5b.firebaseapp.com",
            databaseURL: "https://kitabim-10b5b.firebaseio.com",
            projectId: "kitabim-10b5b",
            storageBucket: "kitabim-10b5b.appspot.com",
            messagingSenderId: "881304615892"
        };
        firebase.initializeApp(config);
        ShowPosts();
        function funcPostSave() {
           @* var post = $('#inputPostId').val();
            console.log(inputPostId);
             if (post =! 0) {
                var database = firebase.database();
                var ref = database.ref('AdminPosts/' + post);
                ref.update({

                    "admin_id": "bos",
                    "createdOn": $("#inputDate").val(),
                    "isActive": $("#inputIsActive")[0].checked,
                    "modifiedOn": $("#inputDate").val(),
                    //"post_content": $(".summernote").code(),
                    "post_content": $("#inputPostContent").val(),
                    "post_image": "bos ",
                    "short_description": $("#inputShortDescription").val(),
                    "slug": " bos",
                    "title": $("#inputTitle").val(),
                });
            }
            else {*@
                var database = firebase.database();
                var ref = database.ref('AdminPosts');
                var result = ref.push({
                    "post_id": "aa",
                    "admin_id": "bos",
                    "createdOn": $("#inputDate").val(),
                    "isActive": $("#inputIsActive")[0].checked,
                    "modifiedOn": $("#inputDate").val(),
                    //"post_content": $(".summernote").code(),
                    "post_content": $("#inputPostContent").val(),
                    "post_image": "bos ",
                    "short_description": $("#inputShortDescription").val(),
                    "slug": " bos",
                    "title": $("#inputTitle").val(),

                });
                var ref2 = database.ref('AdminPosts/' + result.key)
                ref2.update({ post_id: result.key });

        };
        function ShowPosts() {

            var rootRef = firebase.database().ref("AdminPosts");

            rootRef.once('value', function (snapshot) {
                snapshot.forEach(function (childSnapshot) {

                    var childKey = childSnapshot.key;
                    var childData = childSnapshot.val();
                    var title = childSnapshot.child("title").val();
                    var createdOn = childSnapshot.child("createdOn").val();
                    var isActive = childSnapshot.child("isActive").val();
                    var post_id = childSnapshot.child("post_id").val();

                    $('#tbodyPostList').append("<tr><td>" + title + "</td><td>" + createdOn + "</td><td>" + isActive + "</td><td>" + '<input type="button" onClick="readData(\'' + childKey + '\')" />' + "</td></tr>");
                    //"<button  onclick=" + a + "readData(" + post_id + ")" + a + " class='btn btn-primary'>Getir</button> "
                });
            });

            @* $(document).ready(function () {

                //var result = rootRef.push(data);
                rootRef.on("child_added", snap => {

                    var title = snap.child("title").val();
                    var createdOn = snap.child("createdOn").val();
                    var isActive = snap.child("isActive").val();
                    var post_id = snap.child("post_id").val();
                    var makale = post_id;
                    $('#tbodyPostList').append("<tr><td>" + title + "</td><td>" + createdOn + "</td><td>" + isActive + "</td><td>" + "<a href='javascript:funcGetPostDetail()' class='btn btn-primary'>Getir</a> " + "</td></tr>");

                    console.log(makale);
                });
            });*@

        }
        function readData(post_id) {
            firebase.database().ref('AdminPosts' + "/" + post_id).once('value').then(function (snapshot) {
                if (snapshot.val() === null) {
                    /* does not exist */
                    alert('does not exist');
                } else {
                    $('#inputTitle').val(snapshot.val().title);
                    $('#inputShortDescription').val(snapshot.val().short_description);
                    $('#inputIsActive')[0].checked = (snapshot.val().isActive);
                    $('#inputDate').val(snapshot.val().createdOn);
                    $('#inputPostContent').val(snapshot.val().post_content);
                    $('#inputPostId').val(snapshot.val().post_id);
                }
            });
        }
        function funcCreateNewPost() {
            $('#inputPostId').val();
            $('#inputIsActive').val(" ");
            $('#inputTitle').val(" ");
            $('#inputSlug').val(" ");
            $('#inputShortDescription').val(" ");
            $('#inputDate').val(" ");
            $('#inputPostContent').val(" ");
        }
        function funcPostDelete() {
            var post_id = $('#inputPostId').val();
            var database = firebase.database();
            var ref = database.ref('AdminPosts' + "/" + post_id);
            ref.remove().then(function () {
                console.log("Başarıyla silinmiştir.");
                location.reload();
                // funcCreateNewPost();
                // ShowPosts();
            }).catch(function (error) {
                console.log("Değişiklikler kaydedilemedi: " + error.message);
            })
        }
        function funcPostUpdate() {
            var post_id = $('#inputPostId').val();
            if (post_id == 0) {
                ShowMessage("info", "Uyarı", "Makale Seçiniz.");
            }
            else { }
            var database = firebase.database();
            var ref = database.ref('AdminPosts' + "/" + post_id);
            ref.update({
                
                "admin_id": "bos",
                "createdOn": $("#inputDate").val(),
                "isActive": $("#inputIsActive")[0].checked,
                "modifiedOn": $("#inputDate").val(),
                //"post_content": $(".summernote").code(),
                "post_content": $("#inputPostContent").val(),
                "post_image": "bos ",
                "short_description": $("#inputShortDescription").val(),
                "slug": " bos",
                "title": $("#inputTitle").val(),
            });
        }
        @* function writeUserData(post_id, name, createdOn) {
            firebase.database().ref('AdminPosts/' + post_id).set({
                title: title,
                createdOn: createdOn
            });
        }*@

    </script>
</body>
