﻿
@{
    ViewBag.Title = "Haftanın Kitabı";
    Layout = Layout = "~/Views/Shared/_Admin_Profile.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>admin-template</title>
    <script src="https://use.fontawesome.com/07b0ce5d10.js"></script>
    <script src="~/Custom/Toastr/toastr.js"></script>
    <script src="~/Custom/js/Utility.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-lg-3">
            <div class="portlet card-shadow">
                <div class="portlet-title">
                    <div class="caption caption-red">
                        <i class="fa fa-list"></i>
                        <span class="caption-subject text-uppercase"> Kitap Listesi</span>
                        <hr />
                    </div>

                </div>
                <div class="portlet-body">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Kitap</th>
                                <th>Yazar</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyPostList"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="portlet card-shadow">
                <div class="portlet-title">
                    <div class="caption caption-red">
                        <i class="fa fa-cog"></i>
                        <span class="caption-subject text-uppercase"> Kitap Detayları  </span>
                        <hr />
                    </div>
                    <div class="actions">
                        <a href="javascript:funcPostSave();" id="funcPostSave" class="btn alert-info btn-circle active">
                            <i class="fa fa-check"></i> Kaydet
                        </a>
                        <a href="javascript:funcPostDelete();" class="btn btn-danger btn-circle active">
                            <i class="fa fa-trash"></i> Sil
                        </a>
                        <a href="javascript:funcPostUpdate();" class="btn btn-success btn-circle active">
                            <i class="fa fa-upload"></i> Güncelle
                        </a>
                    </div>
                </div>
                <input id="inputBookId" type="text" class="form-control" style="display:none;" value="0" />
                <div class="portlet-body">
                    <div class="form-group">
                        <label class="control-label">Kitap Adı</label>
                        <input id="inputBookName" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Yazar Adı</label>
                        <input id="inputAuthorName" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Kısa Açıklama</label>
                        <textarea id="inputShortDescription" class="form-control"></textarea>
                    </div>
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="control-label">Yayın Tarihi</label>
                            <select id="selectMonth" name="Ay" class="form-control">
                                <option value="Ocak"> Ocak </option>
                                <option value="Subat"> Şubat </option>
                                <option value="Mart"> Mart </option>
                                <option value="Nisan"> Nisan </option>
                                <option value="Mayis"> Mayis </option>
                                <option value="Haziran"> Haziran </option>
                                <option value="Temmuz"> Temmuz </option>
                                <option value="Agustos"> Ağustos </option>
                                <option value="Eylul"> Eylül </option>
                                <option value="Ekim"> Ekim </option>
                                <option value="Kasim"> Kasım </option>
                                <option value="Aralik"> Aralık </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Hangi Hafta</label>
                            <select id="selectWeek" name="Ay" class="form-control">
                                <option value="1"> 1 </option>
                                <option value="2"> 2 </option>
                                <option value="3"> 3 </option>
                                <option value="4"> 4 </option>
                            </select>
                        </div>

                    </form>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label">Resmi</label>
                            <input id="fileSelect" type="file" accept="image/*" onchange="funcImageChange(this)" style="display:none;" />
                            <a href="#" onclick="$('#fileSelect').click()" class="btn btn-warning" style="display:block;">Resim Seç</a>
                        </div>
                        <div class="form-group">
                            <img id="imgPost" src="/" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="portlet card-shadow">
                <div class="portlet-title">
                    <div class="caption caption-red">
                        <i class="fa fa-list"></i>
                        <span class="caption-subject text-uppercase"> Haftanın Kitapları</span>
                        <hr />
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Kitap</th>
                                <th>Yazar</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyPostList1"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".sidebar-toggle").click(function () {
                $(this).hide();

                $("#user-profil").show();

                $("#hide-btn").show();

                $(".container-2").css("width", "85%");


            });

            $("#hide-btn").click(function () {
                $(this).hide();

                $("#user-profil").hide();

                $(".sidebar-toggle").show();

                $(".container-2").css("width", "100%");


            });
        });
    </script>
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCs51QlrshwdLWb5CffoH8L8e9i0yabvNg",
            authDomain: "kitabim-10b5b.firebaseapp.com",
            databaseURL: "https://kitabim-10b5b.firebaseio.com",
            projectId: "kitabim-10b5b",
            storageBucket: "kitabim-10b5b.appspot.com",
            messagingSenderId: "881304615892"
        };
        firebase.initializeApp(config);

        ShowBooks();
        ShowBooksWeek();
        function ShowBooks() {

            var rootRef = firebase.database().ref("Books");

            rootRef.once('value', function (snapshot) {
                snapshot.forEach(function (childSnapshot) {

                    var childKey = childSnapshot.key;
                    var childData = childSnapshot.val();
                    var bookAuthor = childSnapshot.child("book_author").val();
                    var bookName = childSnapshot.child("book_name").val();
                    var shorDescription = childSnapshot.child("short_description").val();
                    var post_id = childSnapshot.child("post_id").val();

                    $('#tbodyPostList').append("<tr><td>" + bookAuthor + "</td><td>" + bookName + "</td><td>" + '<input type="button" onClick="readData(\'' + childKey + '\')" />' + "</td></tr>");
                    //"<button  onclick=" + a + "readData(" + post_id + ")" + a + " class='btn btn-primary'>Getir</button> "
                });
            });
        }
        function readData(book_id) {
            firebase.database().ref('Books' + "/" + book_id).once('value').then(function (snapshot) {
                if (snapshot.val() === null) {
                    /* does not exist */
                    alert('does not exist');
                } else {
                    $('#inputBookName').val(snapshot.val().book_name);
                    $('#inputAuthorName').val(snapshot.val().book_author);
                    $('#inputShortDescription').val(snapshot.val().short_description);
                    $('#inputBookId').val(snapshot.val().book_id);
                    //Resmide getirilecek
                }
            });
        }
        function readDataWeek(book_id) {
            firebase.database().ref('BookOfTheWeek' + "/" + book_id).once('value').then(function (snapshot) {
                if (snapshot.val() === null) {
                    /* does not exist */
                    alert('does not exist');
                } else {
                    $('#inputBookId').val(snapshot.val().book_id);
                    $('#selectMonth').val(snapshot.val().release_date);
                    $('#selectWeek').val(snapshot.val().release_date);
                    //Resmide getirilecek
                }
            });
        }
        function ShowBooksWeek() {

            var rootRef = firebase.database().ref("BookOfTheWeek");

            rootRef.once('value', function (snapshot) {
                snapshot.forEach(function (childSnapshot) {

                    var childKey = childSnapshot.key;
                    var childData = childSnapshot.val();
                    var bookId = childSnapshot.child("book_author").val();
                    var releaseDate = childSnapshot.child("release_date").val();

                    $('#tbodyPostList1').append("<tr><td>" + bookId + "</td><td>" + releaseDate + "</td><td>" + '<input type="button" onClick="readDataWeek(\'' + childKey + '\')" />' + "</td></tr>");
                    //"<button  onclick=" + a + "readData(" + post_id + ")" + a + " class='btn btn-primary'>Getir</button> "
                });
            });
        }
        function funcPostSave() {

            console.log("Buradayım");
            if ($("#selectMonth").val() != "" && $("#selectWeek").val() != "" && $("#inputBookId").val() != "") {
                var database = firebase.database();
                var ref = database.ref('BookOfTheWeek');
                var result = ref.push({
                    "book_id": $('#inputBookId').val(),
                    "release_date": $("#selectWeek").val() + "  " + $('#selectMonth').val(),
                });
                var ref2 = database.ref('BookOfTheWeek/' + result.key)
                ref2.update({ book_id: result.key });
                ShowMessage("success", "Tebrikler", "Kitap Başarıyla Eklendi.");
                reflesh();
            }
            else {
                ShowMessage("warning", "Uyarı!", "Boş Alan Bırakmayınız");
            }
        }
        function funcPostUpdate() {
            var book_id = $('#inputBookId').val();
            if (book_id == 0) {
                ShowMessage("info", "Uyarı", "Haftanın Kitabını Seçiniz.");
            }
            else {
                var database = firebase.database();
                var ref = database.ref('BookOfTheWeek' + "/" + book_id);
                ref.update({
                    "book_id": $('#inputBookId').val(),
                    "release_date": $("#selectWeek").val() + "  " + $('#selectMonth').val(),
                });
                reflesh();

            }

        }

        function reflesh() {
            location.reload();
        }
    </script>

</body>





