﻿
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Custom/css/Feedback.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="jumbotron jumbotron-sm">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="well well-sm">
                    <form>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="subject">
                                        Konu
                                    </label>
                                    <select id="inputFeedbackName" name="subject" class="form-control" required="required">
                                        <option value="na" selected="">Seçimler</option>
                                        <option value="service">Kitap hakkında</option>
                                        <option value="suggestions">Rahatsız Edici</option>
                                        <option value="product">Diğer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Geri Bildirim
                                    </label>
                                    <textarea name="message" id="inputFeedback" class="form-control" rows="9" cols="25" required="required"
                                              placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" onclick="feedbackSave()" >
                                    Gönder
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCs51QlrshwdLWb5CffoH8L8e9i0yabvNg",
            authDomain: "kitabim-10b5b.firebaseapp.com",
            databaseURL: "https://kitabim-10b5b.firebaseio.com",
            projectId: "kitabim-10b5b",
            storageBucket: "kitabim-10b5b.appspot.com",
            messagingSenderId: "881304615892"
        };
        firebase.initializeApp(config);
        var usersRef = ref.child("Users");

        function feedbackSave() {

            if ($("#inputFeedbackName").val() != "" && $("#inputFeedback").val() != "") {
                
                var database = firebase.database();
                var create_data = new Date();
                var ref = database.ref('Feedbacks');
                var user_id = snapshot.child("feedbacks/user_id").key;
                ref.child("users/user_id").on("value", function (snapshot)){
                    console.log(snapshot.val());
                    user_id = snapshot.val();
                };
                var result = ref.push({
                    "feedback_name": $('#inputFeedbackName').val(),
                    "feedback": $('#inputFeedback').val(),
                    "feed_id": "aa",
                    "user_id": user_id,
                    "create_date": $("create_date").val(),
                    
                });
                var ref2 = database.ref('Feedbacks/' + result.key)
                ref2.update({ feed_id: result.key });
                reflesh();
                ShowMessage("success", "Tebrikler", "Mesajınız ulaştı.");
            }
            else {
                ShowMessage("warning", "Uyarı!", "Boş Alan Bırakmayınız");
            }


        }
      
        </script>
</body >
</html >
