﻿
@{
    ViewBag.Title = "MyLibrary";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}
 <html>
   <head>
    <link href="~/Custom/css/MyLibrary.css" rel="stylesheet" />
    <link href="~/Custom/css/MyLibraryBooks.css" rel="stylesheet" />
    <script src="~/Custom/js/MyLibraryBooks.js"></script>
   </head>
   <body>
           <div class="row">
               <div class="col-md-12">
                   <h3>Default Tab</h3>
                   <div class="tabbable-panel">
                       <div class="tabbable-line">
                           <ul class="nav nav-tabs ">
                               <li class="active">
                                   <a href="/userprofile/mylibrary/okudum/#tab_default_1" data-toggle="tab">
                                       Okudum
                                   </a>
                               </li>
                               <li>
                                   <a href="/userprofile/mylibrary/okuyorum/#tab_default_2" data-toggle="tab">
                                       Okuyorum
                                   </a>
                               </li>
                               <li>
                                   <a href="/userprofile/mylibrary/okuyacağım/#tab_default_3" data-toggle="tab">
                                       Okuyacağım
                                   </a>
                               </li>
                           </ul>
                           <div class="tab-content">
                               <div class="tab-pane active" id="tab_default_1">
                                       <div class="row library">
                                           <div class="col-xs-4 col-md-2">
                                               <ul class="bk-list clearfix book-list">
                                                   <li>
                                                       <div class="bk-book book-1 bk-bookdefault bk-bookview">
                                                         
                                                           <div class="bk-front">
                                                               <div class="bk-cover-back"></div>
                                                               <div class="bk-cover">

                                                               </div>
                                                           </div>
                                                           <div class="bk-back"></div>
                                                           <div class="bk-right"></div>
                                                           <div class="bk-left"></div>
                                                           <div class="bk-top"></div>
                                                           <div class="bk-bottom"></div>
                                                       </div>
                                                   </li>
                                               </ul>
                                           </div>
                                           <div class="col-xs-4 col-md-2">
                                               <ul class="bk-list clearfix book-list">
                                                   <li>
                                                       <div class="bk-book book-2 bk-bookdefault bk-bookview">
                                                           <div class="bk-front">
                                                               <div class="bk-cover-back"></div>
                                                               <div class="bk-cover">
                                                               </div>
                                                           </div>
                                                           <div class="bk-back">
                                                           </div>
                                                           <div class="bk-right"></div>
                                                           <div class="bk-left"></div>
                                                           <div class="bk-top"></div>
                                                           <div class="bk-bottom"></div>
                                                       </div>
                                                   </li>
                                               </ul>
                                           </div>
                                           <div class="col-xs-4 col-md-2">
                                               <ul class="bk-list clearfix book-list">
                                                   <li>
                                                       <div class="bk-book book-3 bk-bookdefault bk-bookview">
                                                           <div class="bk-front">
                                                               <div class="bk-cover-back"></div>
                                                               <div class="bk-cover">
                                                               </div>
                                                           </div>
                                                           <div class="bk-back">
                                                           </div>
                                                           <div class="bk-right"></div>
                                                           <div class="bk-left"></div>
                                                           <div class="bk-top"></div>
                                                           <div class="bk-bottom"></div>
                                                       </div>
                                                   </li>
                                               </ul>
                                           </div>
                                       </div>
                                   </div>

                               <div class="tab-pane" id="tab_default_2">
                                   <div class="tab-pane active" id="tab_default_1">
                                       <div class="row library">
                                           <div class="col-xs-4 col-md-2">
                                               <ul class="bk-list clearfix book-list">
                                                   <li>
                                                       <div class="bk-book book-1 bk-bookdefault bk-bookview">

                                                           <div class="bk-front">
                                                               <div class="bk-cover-back"></div>
                                                               <div class="bk-cover">

                                                               </div>
                                                           </div>
                                                           <div class="bk-back"></div>
                                                           <div class="bk-right"></div>
                                                           <div class="bk-left"></div>
                                                           <div class="bk-top"></div>
                                                           <div class="bk-bottom"></div>
                                                       </div>
                                                   </li>
                                               </ul>
                                           </div>
                                           <div class="col-xs-4 col-md-2">
                                               <ul class="bk-list clearfix book-list">
                                                   <li>
                                                       <div class="bk-book book-2 bk-bookdefault bk-bookview">
                                                           <div class="bk-front">
                                                               <div class="bk-cover-back"></div>
                                                               <div class="bk-cover">
                                                               </div>
                                                           </div>
                                                           <div class="bk-back">
                                                           </div>
                                                           <div class="bk-right"></div>
                                                           <div class="bk-left"></div>
                                                           <div class="bk-top"></div>
                                                           <div class="bk-bottom"></div>
                                                       </div>
                                                   </li>
                                               </ul>
                                           </div>
                                           <div class="col-xs-4 col-md-2">
                                               <ul class="bk-list clearfix book-list">
                                                   <li>
                                                       <div class="bk-book book-3 bk-bookdefault bk-bookview">
                                                           <div class="bk-front">
                                                               <div class="bk-cover-back"></div>
                                                               <div class="bk-cover">
                                                               </div>
                                                           </div>
                                                           <div class="bk-back">
                                                           </div>
                                                           <div class="bk-right"></div>
                                                           <div class="bk-left"></div>
                                                           <div class="bk-top"></div>
                                                           <div class="bk-bottom"></div>
                                                       </div>
                                                   </li>
                                               </ul>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                                   <div class="tab-pane" id="tab_default_3">
                                       <div class="tab-pane active" id="tab_default_1">
                                           <div class="row library">
                                               <div class="col-xs-4 col-md-2">
                                                   <ul class="bk-list clearfix book-list">
                                                       <li>
                                                           <div class="bk-book book-1 bk-bookdefault bk-bookview">

                                                               <div class="bk-front">
                                                                   <div class="bk-cover-back"></div>
                                                                   <div class="bk-cover">

                                                                   </div>
                                                               </div>
                                                               <div class="bk-back"></div>
                                                               <div class="bk-right"></div>
                                                               <div class="bk-left"></div>
                                                               <div class="bk-top"></div>
                                                               <div class="bk-bottom"></div>
                                                           </div>
                                                       </li>
                                                   </ul>
                                               </div>
                                               <div class="col-xs-4 col-md-2">
                                                   <ul class="bk-list clearfix book-list">
                                                       <li>
                                                           <div class="bk-book book-2 bk-bookdefault bk-bookview">
                                                               <div class="bk-front">
                                                                   <div class="bk-cover-back"></div>
                                                                   <div class="bk-cover">
                                                                   </div>
                                                               </div>
                                                               <div class="bk-back">
                                                               </div>
                                                               <div class="bk-right"></div>
                                                               <div class="bk-left"></div>
                                                               <div class="bk-top"></div>
                                                               <div class="bk-bottom"></div>
                                                           </div>
                                                       </li>
                                                   </ul>
                                               </div>
                                               <div class="col-xs-4 col-md-2">
                                                   <ul class="bk-list clearfix book-list">
                                                       <li>
                                                           <div class="bk-book book-3 bk-bookdefault bk-bookview">
                                                               <div class="bk-front">
                                                                   <div class="bk-cover-back"></div>
                                                                   <div class="bk-cover">
                                                                   </div>
                                                               </div>
                                                               <div class="bk-back">
                                                               </div>
                                                               <div class="bk-right"></div>
                                                               <div class="bk-left"></div>
                                                               <div class="bk-top"></div>
                                                               <div class="bk-bottom"></div>
                                                           </div>
                                                       </li>
                                                   </ul>
                                               </div>
                                           </div>
                                       </div>
                                </div>
                               </div>
                           </div>
                   </div>
               </div>
           </div>

   </body>
</html>