﻿
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

<html>
<head>

    <link href="~/Custom/css/MyLibrary.css" rel="stylesheet" />
    <link href="~/Custom/css/MyLibraryBooks.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h3>Default Tab</h3>
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="/userprofile/mylibrary/okudum/#tab_default_1" data-toggle="tab">
                                Profil
                            </a>
                        </li>
                        <li>
                            <a href="/userprofile/mylibrary/okudum/#tab_default_2" data-toggle="tab">
                                Şifre Değişikliği
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">
                            <div class="form-group">
                                <label for="confirm" class="cols-sm-2 control-label">Name & Surname</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Name & Surname" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirm" class="cols-sm-2 control-label">Change Picture</label>
                                <div class="cols-sm-10">
                                        <div class="picture-container">
                                            <div class="picture">
                                                <img src="" class="picture-src" id="wizardPicturePreview" title=""/>
                                                <input type="file" id="userImage">
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <a href="javascript:updateUser()" id="btnSignUp"   type="button">Güncelle</a>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_default_2">
                            <div class="tab-pane active" id="tab_default_2">
                                <div class="form-group">
                                    <label for="password" class="cols-sm-2 control-label"> Mevcut Şifre</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                            <input type="password" class="form-control" name="password" id="oldPassword" placeholder="Şifre" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="cols-sm-2 control-label">Şifre</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                            <input type="password" class="form-control" name="password" id="newPassword" placeholder="Şifre" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirm" class="cols-sm-2 control-label">Şifre Tekrar</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                            <input type="password" class="form-control" name="confirm" id="confirmPassword" placeholder="Şifre Tekrar" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <button id="btnSignUp" onclick="updateUser()" type="button">Güncelle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCs51QlrshwdLWb5CffoH8L8e9i0yabvNg",
            authDomain: "kitabim-10b5b.firebaseapp.com",
            databaseURL: "https://kitabim-10b5b.firebaseio.com",
            projectId: "kitabim-10b5b",
            storageBucket: "kitabim-10b5b.appspot.com",
            messagingSenderId: "881304615892"
        };
        firebase.initializeApp(config);

        function passwordUpdate() {
            var oldPassword = document.getElementById("oldPassword").value;
            var newPassword = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            if (oldPassword != "" && newPassword != "" && confirmPassword != "") {
                if (oldPassword != newPassword) {
                    if (newPassword == confirmPassword) {
                        return true;
                    }
                    else {
                        alert("Şifreler aynı değil.");
                        return false;
                    }
                }
                else {
                    alert("Bu eski şifreniz, lütfen yeni bir şifre giriniz.");
                    return false;
                }
            }
            else {
                alert("Tüm alanları girmek zorunludur.");
                return false;
            }

        }

        function updateUser() {

            var database = firebase.database();
            
            var ref = firebase.database().ref("Users/");
            var result = ref.push({

                "full_name": $('#fullname').val()
            });



           @* const fb = firebase.database().ref('Users/')
            full_name = document.getElementById('fullname').value;
           

            data = { full_name }
            fb.ref().child("V8sdUjdcvXaZx3vXyomDxsQXvFh2").update(data);
               *@
           
        }

    

    </script>
</body>
</html>
