﻿@{
    ViewBag.Title = "Statistic";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}
<html>
<body>
    <link href="~/Custom/css/Statistic.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        readData();
        var user_id = user_id;
        function readData() {
            firebase.database().ref('Users' + "/" + user_id).once('value').then(function (snapshot) {
                if (snapshot.val() === null) {
                    alert('does not exist');
                } else {
                    $('#fullname').val(snapshot.val().full_name);
                }
            });
        }
       
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Okuduğum Kitaplar', 25]
            ]);

            var options = {
                title: 'Features',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart.draw(data, options);
        }</script>

    <hr id="eight" />

    <div id="flex">
        <div id="piechart_3d"></div>
        <div class="container" id="js-app"></div>
    </div>
</body>

</html>