﻿
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}
<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCs51QlrshwdLWb5CffoH8L8e9i0yabvNg",
        authDomain: "kitabim-10b5b.firebaseapp.com",
        databaseURL: "https://kitabim-10b5b.firebaseio.com",
        projectId: "kitabim-10b5b",
        storageBucket: "kitabim-10b5b.appspot.com",
        messagingSenderId: "881304615892"
    };
    firebase.initializeApp(config);
    database.firebase.database();

    var ref = database.ref('Users');

    var data{

        "full_name": "derya",
        "role": false,
        "user_id": "derya",
        "user_name": "derya"

    }
    ref.push(data);

</script>



