﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="https://use.fontawesome.com/07b0ce5d10.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Custom/Toastr/toastr.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Custom/css/adminprofile.css" rel="stylesheet" />

</head>
<body>

    <nav class="navbar navbar-inverse top-navbar" id="top-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Adminprofile/index"><img class="img-responsive" src="" width="150" height="20">Web - Okurhane</a>
                <a href="javascript:;" class="sidebar-toggle">
                    <i class="fa fa-bars"></i>
                </a>
                <span class="close-btn" id="hide-btn"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>

            <ul class="social-icon pull-right list-inline">

                <li class="dropdown">
                    <a class="messages-link dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span class="number">4</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="alerts-link dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-bell"></span>
                        <span class="number">6</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="tasks-link dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <span class="number">11</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="user-link dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-1" id="user-profil">
        <ul id="side" class="nav navbar-nav-1 side-nav">
            <li class="side-user">
                <p class="welcome"><i class="fa fa-key"></i> Logged in as</p>
                <p class="name tooltip-sidebar-logout">
                    Enes
                    <span class="last-name">Tepehan</span>
                    <a href="#"><i class="fa fa-sign-out"></i></a>
                </p>
            </li>
            <li class="dashboard">
                <a class="active" href="#"><i class="fa fa-key"></i> Profil Ayarları</a>
            </li>

            <li class="panel">
                <a href="/adminbook/index" data-toggle="collapse" data-target="#charts">
                    <i class="fa fa-edit"></i> Kitap Ekle
                </a>
            </li>
            <li class="panel">
                <a href="/post/index" data-toggle="collapse" data-target="#charts">
                    <i class="fa fa-edit"></i> Makale Ekle
                </a>
            </li>

            <li class="panel">
                <a href="/AdminBookOfTheWeek/index" data-toggle="collapse" data-target="#calendar">
                    <i class="fa fa-edit"></i> Haftanın Kitabı
                </a>
            </li>

            <li class="panel">
                <a href="javascript:;" data-toggle="collapse" data-target="#clipboard">
                    <i class="fa fa-inbox"></i> Geri Bildirim
                </a>
            </li>

            <li class="panel">
                <a href="javascript:;" data-toggle="collapse" data-target="#edit">
                    <i class="fa fa-edit"></i> İletişim
                </a>
            </li>

            <li class="panel">
                <a href="javascript:;" data-toggle="collapse" data-target="#inbox">
                    <i class="fa fa-sign-out"></i> Çıkış
                </a>

            </li>
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>


</body>
</html>