﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitabım</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Custom/css/UserProfile.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body class="sidebar-is-reduced">
    <header class="l-header">
        <div class="l-header__inner clearfix">
            <div class="c-header-icon js-hamburger">
                <div class="hamburger-toggle"><span class="bar-top"></span><span class="bar-mid"></span><span class="bar-bot"></span></div>
            </div>
        </div>
    </header>
    <div class="l-sidebar">
        <div class="logo">
            <div class="logo__txt"><h5>Web Okurhane</h5></div>
        </div>
        <div class="l-sidebar__content">
            <nav class="c-menu js-menu">
                <ul class="u-list">
                    <li class="c-menu__item is-active" data-toggle="tooltip" title="Kitaplığım">
                        <div class="c-menu__item__inner">
                            <i class="fa fa-leanpub"></i>
                            <div class="c-menu-item__title"><span><a href="/userprofile/mylibrary">Kitaplığım</a></span></div>
                        </div>
                    </li>
                    <li class="c-menu__item has-submenu" data-toggle="tooltip" title="İstatistik">
                        <div class="c-menu__item__inner">
                            <i class="fa fa-bar-chart"></i>
                            <div class="c-menu-item__title"><span><a href="/userprofile/statistic">İstatistik</a></span></div>
                        </div>
                        <ul class="c-menu__submenu u-list">
                            <li>Payments</li>
                            <li>Maps</li>
                            <li>Notifications</li>
                        </ul>
                    </li>
                    <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Profil Ayarları">
                        <div class="c-menu__item__inner">
                            <i class="fa fa-address-book-o"></i>
                            <div class="c-menu-item__title"><span><a href="/userprofile/profileSettings">Profil Ayarları</a></span></div>
                        </div>
                    </li>
                    <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Okuma Planım">
                        <div class="c-menu__item__inner">
                            <i class="glyphicon glyphicon-calendar"></i>
                            <div class="c-menu-item__title"><span>Okuma Planım</span></div>
                        </div>
                    </li>
                    <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Beğendiklerim">
                        <div class="c-menu__item__inner">
                            <i class="fa fa-thumbs-o-up"></i>
                            <div class="c-menu-item__title"><span><a href="/userprofile/myLikes">Beğendiklerim</a></span></div>
                        </div>
                    </li>
                    <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Alıntılarım">
                        <div class="c-menu__item__inner">
                            <i class="glyphicon glyphicon-pencil"></i>
                            <div class="c-menu-item__title"><span>Alıntılarım</span></div>
                        </div>
                    </li>
                    <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Geri Bildirim">
                        <div class="c-menu__item__inner">
                            <i class="fa fa fa fa-envelope-o"></i>
                            <div class="c-menu-item__title"><span>Geri Bildirim</span></div>
                        </div>
                    </li>
                    <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Çıkış">
                        <div class="c-menu__item__inner">
                            <i class="fa fa-sign-out"></i>
                            <div class="c-menu-item__title"><span><a href="/userlogin/index">Çıkış</a></span></div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src="~/Custom/js/FontAwesome.js"></script>
    <script>
        "use strict";

        var Dashboard = function () {
            var global = {
                tooltipOptions: {
                    placement: "right"
                },
                menuClass: ".c-menu"
            };

            var menuChangeActive = function menuChangeActive(el) {
                var hasSubmenu = $(el).hasClass("has-submenu");
                $(global.menuClass + " .is-active").removeClass("is-active");
                $(el).addClass("is-active");

                // if (hasSubmenu) {
                // 	$(el).find("ul").slideDown();
                // }
            };

            var sidebarChangeWidth = function sidebarChangeWidth() {
                var $menuItemsTitle = $("li .menu-item__title");

                $("body").toggleClass("sidebar-is-reduced sidebar-is-expanded");
                $(".hamburger-toggle").toggleClass("is-opened");

                if ($("body").hasClass("sidebar-is-expanded")) {
                    $('[data-toggle="tooltip"]').tooltip("destroy");
                } else {
                    $('[data-toggle="tooltip"]').tooltip(global.tooltipOptions);
                }
            };

            return {
                init: function init() {
                    $(".js-hamburger").on("click", sidebarChangeWidth);

                    $(".js-menu li").on("click", function (e) {
                        menuChangeActive(e.currentTarget);
                    });

                    $('[data-toggle="tooltip"]').tooltip(global.tooltipOptions);
                }
            };
        }();

        Dashboard.init();
//# sourceURL=pen.js
    </script>



</body>
</html>