﻿
@{
    ViewBag.Title = "Admin Kitap Ekle";
    Layout = Layout = "~/Views/Shared/_Admin_Profile.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>admin-template</title>
    <script src="https://use.fontawesome.com/07b0ce5d10.js"></script>
    <script src="~/Custom/js/navbarOpen.js"></script>
    <script src="~/Custom/Toastr/toastr.js"></script>
    <script src="~/Custom/js/Utility.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-lg-4">
            <div class="portlet card-shadow">
                <div class="portlet-title">
                    <div class="caption caption-red">
                        <i class="fa fa-list"></i>
                        <span class="caption-subject text-uppercase"> Kitap Listesi</span>
                    </div>
                    <div class="actions">
                        <a href="javascript:funcCreateNewPost();" class="btn btn-danger ">
                            <i class="fa fa-plus"></i> Yeni Kitap Ekle
                        </a>
                    </div>
                </div>
                <div class="portlet-body">

                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Kitap Adı</th>
                                <th>Yazar</th>
                                <th>Yayın Tarihi</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyPostList"></tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-lg-8">
            <div class="portlet card-shadow">
                <div class="portlet-title">
                    <div class="caption caption-red">
                        <i class="fa fa-cog"></i>
                        <span class="caption-subject text-uppercase"> Kitap İşlemleri | </span>

                    </div>
                    <div class="actions">
                        <a href="javascript:funcPostSave();" id="funcPostSave" class="btn alert-info btn-circle active">
                            <i class="fa fa-check"></i> Kaydet
                        </a>
                        <a href="javascript:funcPostDelete();" class="btn btn-danger btn-circle active">
                            <i class="fa fa-trash"></i> Sil
                        </a>
                        <a href="javascript:funcPostUpdate();" class="btn btn-success btn-circle active">
                            <i class="fa fa-upload"></i> Güncelle
                        </a>
                    </div>
                </div>
                <input id="inputBookPostId" type="text" class="form-control" style="display:none;" value="0" />
                <div class="portlet-body">
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label">Kitap İsmi</label>
                            <input id="inputBookTitle" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Yazar İsmi</label>
                            <input id="inputAuthorTitle" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label">Basım Tarihi</label>
                            <input id="inputDateOfIssue" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Sayfa Sayısı</label>
                            <input id="inputPageNumber" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Url Kodu</label>
                        <input id="inputSlug" type="text" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Kitap Açıklama</label>
                        <textarea id="inputBookShortDescription" class="form-control"></textarea>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label">Kitap Resimi Seç</label>
                            <input id="fileSelect" type="file" accept="image/*" onchange="funcImageChange(this)" style="display:none;" />
                            <a href="#" onclick="$('#fileSelect').click()" class="btn btn-warning" style="display:block;">Resim Seç</a>
                        </div>
                        <div class="form-group">
                            <img id="imgPost" src="/" />
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label">Kategori</label>
                            <input id="selectCategory" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Yayın Tarih</label>
                            <input id="inputReleaseDate" type="datetime-local" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCs51QlrshwdLWb5CffoH8L8e9i0yabvNg",
            authDomain: "kitabim-10b5b.firebaseapp.com",
            databaseURL: "https://kitabim-10b5b.firebaseio.com",
            projectId: "kitabim-10b5b",
            storageBucket: "kitabim-10b5b.appspot.com",
            messagingSenderId: "881304615892"
        };
        firebase.initializeApp(config);
        ShowPosts();

        function ShowPosts() {

            var rootRef = firebase.database().ref("Books");

            rootRef.once('value', function (snapshot) {
                snapshot.forEach(function (childSnapshot) {

                    var childKey = childSnapshot.key;
                    var childData = childSnapshot.val();
                    var book_name = childSnapshot.child("book_name").val();
                    var book_author = childSnapshot.child("book_author").val();
                    var release_date = childSnapshot.child("release_date").val();
                    var book_id = childSnapshot.child("book_id").val();

                    $('#tbodyPostList').append("<tr><td>" + book_name + "</td><td>" + book_author + "</td><td>" + release_date + "</td><td>" + '<input type="button" onClick="readData(\'' + childKey + '\')" />' + "</td></tr>");
                    //"<button  onclick=" + a + "readData(" + post_id + ")" + a + " class='btn btn-primary'>Getir</button> "
                });
            });
        }
        function funcPostSave() {


            if ($("#inputAuthorTitle").val() != "" && $("#selectCategory").val() != "" && $("#inputBookTitle").val() != "" &&
                $("#inputDateOfIssue").val() != "" && $("#inputPageNumber").val() != "" && $("#inputReleaseDate").val() != ""
                && $("#inputBookShortDescription").val() != "") {
                var database = firebase.database();
                var ref = database.ref('Books');
                var result = ref.push({
                    "book_author": $('#inputAuthorTitle').val(),
                    "book_category": $('#selectCategory').val(),
                    "book_id": "aa",
                    "book_image": "bos",
                    "book_name": $("#inputBookTitle").val(),
                    //book_rate
                    "date_of_issue": $("#inputDateOfIssue").val(),
                    "page_number": $('#inputPageNumber').val(),
                    "release_date": $("#inputReleaseDate").val(),
                    "short_description": $('#inputBookShortDescription').val(),

                });
                var ref2 = database.ref('Books/' + result.key)
                ref2.update({ book_id: result.key });
                reflesh();
                ShowMessage("success", "Tebrikler", "Kitap Başarıyla Eklendi.");
            }
            else {
                deneme();
                ShowMessage("warning", "Uyarı!", "Boş Alan Bırakmayınız");
            }


        }
        function readData(book_id) {
            firebase.database().ref('Books' + "/" + book_id).once('value').then(function (snapshot) {
                if (snapshot.val() === null) {
                    /* does not exist */
                    alert('does not exist');
                } else {
                    $('#inputBookTitle').val(snapshot.val().book_name);
                    $('#inputAuthorTitle').val(snapshot.val().book_author);
                    $('#inputDateOfIssue').val(snapshot.val().date_of_issue);
                    $('#inputPageNumber').val(snapshot.val().page_number);
                    $('#inputBookShortDescription').val(snapshot.val().short_description);
                    $('#selectCategory').val(snapshot.val().book_category);
                    $('#inputReleaseDate').val(snapshot.val().release_date);
                    $('#inputBookPostId').val(snapshot.val().book_id);
                }
            });
        }
        function funcPostUpdate() {
            var books_id = $('#inputBookPostId').val();
            if (books_id == 0) {
                ShowMessage("info", "Uyarı", "Makale Seçiniz.");
            }
            else { }
            var database = firebase.database();
            var ref = database.ref('Books' + "/" + books_id);
            ref.update({

                "book_author": $('#inputAuthorTitle').val(),
                "book_category": $('#selectCategory').val(),
                "book_image": "bos",
                "book_name": $("#inputBookTitle").val(),
                //book_rate
                "date_of_issue": $("#inputDateOfIssue").val(),
                "page_number": $('#inputPageNumber').val(),
                "release_date": $("#inputReleaseDate").val(),
                "short_description": $('#inputBookShortDescription').val(),
            });
        }
        function funcPostDelete() {
            var books_id = $('#inputBookPostId').val();
            var database = firebase.database();
            var ref = database.ref('Books' + "/" + books_id);
            ref.remove().then(function () {
                console.log("Başarıyla silinmiştir.");
                location.reload();
                // funcCreateNewPost();
                // ShowPosts();
            }).catch(function (error) {
                console.log("Değişiklikler kaydedilemedi: " + error.message);
            })
        }
        function reflesh() {
            location.reload();
        }
        function deneme() {
            console.log("Buradayım");
        }

    </script>
</body>
</html>