﻿
@{
    ViewBag.Title = "ForgotPassword";
}

<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCs51QlrshwdLWb5CffoH8L8e9i0yabvNg",
    authDomain: "kitabim-10b5b.firebaseapp.com",
    databaseURL: "https://kitabim-10b5b.firebaseio.com",
    projectId: "kitabim-10b5b",
    storageBucket: "kitabim-10b5b.appspot.com",
    messagingSenderId: "881304615892"
  };
  firebase.initializeApp(config);
</script>

<script src="~/Custom/js/AdminLogin.js"></script>
<div class="container">
    <div class="row col-md-6">
        <div class="form-group">
            <label for="password">Email</label>
            <input type="text" name="email" id="email" placeholder="email adress">
        </div>
        <button class="btn btn-block btn-danger btn-lg" onclick="resetPassword()">Reset Password</button>
        <a href="/adminlogin" class="btn btn-block btn-danger btn-lg">Cancel</a>
    </div>
</div>
