﻿@{
    ViewBag.Title = "Index";
}

<link href="~/Custom/css/AdminLogin.css" rel="stylesheet" />
<script src="~/Custom/js/AdminLogin.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="#" class="active" id="login-form-link">Admin Login</a>
                        </div>
                        
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div id="admin_div"  class="col-lg-12">
                            <div id="login-form" action="" method="post" role="form">
                                <div class="form-group">
                                    <input type="text" name="username" id="email_field" tabindex="1" class="form-control" placeholder="Email" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password_field" tabindex="2" class="form-control" placeholder="Password">
                                </div>
                               
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input onclick="adminLogin()" type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Giriş Yap">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="/adminlogin/forgotpassword" tabindex="5" class="forgot-password">Şifremi Unuttum</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="login_div" class="col-lg-12">
                            <div id="login-form" action="" method="post" role="form">
                             <h2 id="admin_para">HoşGeldin</h2> 
                                <a href="/adminprofile/index"> Admin Profile Gitmek İçin Tıklayınız </a>
                                <input onclick="adminLogout()" type="button" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Çıkış">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
<script>
  var config = {
    apiKey: "AIzaSyCs51QlrshwdLWb5CffoH8L8e9i0yabvNg",
    authDomain: "kitabim-10b5b.firebaseapp.com",
    databaseURL: "https://kitabim-10b5b.firebaseio.com",
    projectId: "kitabim-10b5b",
    storageBucket: "kitabim-10b5b.appspot.com",
    messagingSenderId: "881304615892"
  };
  firebase.initializeApp(config);
</script>

<script src="~/Custom/js/AdminLogin.js"></script>

