﻿@{
    ViewBag.Title = "Admin Profile";
    Layout = Layout = "~/Views/Shared/_Admin_Profile.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>admin-template</title>
    <script src="https://use.fontawesome.com/07b0ce5d10.js"></script>
</head>

<body>

    <div class="container-2">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2>Profil Ayarları</h2>
                    </div>
                </div>
            </div>

            <div class="profile-content ">
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#tab_informations" data-toggle="tab">
                                    Kullanıcı Adı Yenile
                                </a>
                            </li>
                            <li>
                                <a href="#tab_pass_reset" data-toggle="tab">
                                    Şifre Yenile
                                </a>
                            </li>
                            <li>
                                <a href="#tab_image_change" data-toggle="tab">
                                    Email Yenile
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab_informations">
                                <div class="form-group">
                                    <label class="control-label">Mevcut Kullanıcı Adı</label>
                                    <input id="inputFullName" type="text" class="form-control" placeholder="Mevcut Kullanıcı Adı" value="" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Yeni Kullanıcı Adı</label>
                                    <input id="inputJob" type="text" class="form-control" placeholder="Yeni Kullanıcı Adı" value="" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Yeni Kullanıcı Adı Tekrar</label>
                                    <input id="inputJob" type="text" class="form-control" placeholder="Yeni Kullanıcı Adı Tekrar" value="" />
                                </div>
                                <div class="form-group">
                                    <a href="javascript:funcUserUpdateByFJ()" class="btn btn-primary">Değişiklikleri Kaydet</a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_pass_reset">
                                <div class="form-group">
                                    <label class="control-label">Şifre</label>
                                    <input id="inputUserName" type="text" class="form-control" placeholder="Mevcut Şifre" value="" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Yeni Şifre</label>
                                    <input id="inputPassword" type="password" class="form-control" placeholder="Yeni Şifre" value="" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Yeni Şifre Tekrarı</label>
                                    <input id="inputPasswordAgain" type="password" class="form-control" placeholder="Yeni Şifre Tekrar" />
                                </div>
                                <div class="form-group">
                                    <a href="#" onclick="funcUserUpdateByUP()" class="btn btn-primary">Değişiklikleri Kaydet</a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_image_change">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input id="inputPassword" type="password" class="form-control" placeholder="Mevcut Email" value="" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Yeni Email</label>
                                    <input id="inputPasswordAgain" type="password" class="form-control" placeholder="Yeni Email" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Yeni Email</label>
                                    <input id="inputPasswordAgain" type="password" class="form-control" placeholder="Yeni Email Tekrar" />
                                </div>
                                <div class="form-group">
                                    <a href="#" onclick="funcUserUpdateByUP()" class="btn btn-primary">Değişiklikleri Kaydet</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div><!-- page-wrapper END-->
    </div><!-- İç Kısım-->






    <script type="text/javascript">
        $(document).ready(function () {
            $(".sidebar-toggle").click(function () {
                $(this).hide();

                $("#user-profil").show();

                $("#hide-btn").show();

                $(".container-2").css("width", "85%");


            });

            $("#hide-btn").click(function () {
                $(this).hide();

                $("#user-profil").hide();

                $(".sidebar-toggle").show();

                $(".container-2").css("width", "100%");


            });
        });
    </script>

    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCs51QlrshwdLWb5CffoH8L8e9i0yabvNg",
            authDomain: "kitabim-10b5b.firebaseapp.com",
            databaseURL: "https://kitabim-10b5b.firebaseio.com",
            projectId: "kitabim-10b5b",
            storageBucket: "kitabim-10b5b.appspot.com",
            messagingSenderId: "881304615892"
        };
        firebase.initializeApp(config);
    </script>

</body>
</html>