﻿
@{
    ViewBag.Title = "Contact";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kitabım</title>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Custom/css/Home.css" rel="stylesheet" />
    <script src="~/Custom/js/FontAwesome.js"></script>
    <link href="~/Custom/css/Contact.css" rel="stylesheet" />
    <script src="~/Custom/js/Contact.js"></script>
</head>
<body>
    <div id="header">
        <div class="clearfix">
            <div class="logo">
                <h2 style="color:aliceblue">Kitabım</h2> <img src="~/Custom/img/kitap.gif" width="110px" height="100px" margin-left="60px" />

            </div>
            <ul class="navigation">
                <li>
                    <a href="/home/library">Kitaplık</a>
                </li>
                <li>
                    <a href="">İstatistikler</a>
                </li>
                <li>
                    <a href="">Trendler</a>
                </li>
                <li>
                    <a href="">Alıntılar</a>
                </li>
                <li class="active">
                    <a href="/home/contact">İletişim</a>

                </li>
                <li>
                    <a href="/userlogin/index">Giriş Yap</a>

                </li>
                <li>
                    <a href="/userlogin/register">Üye Ol</a>

                </li>

            </ul>
        </div>
    </div>
    <div id="contents">
        <div class="highlight">
            <div class="container1">
                <div>
                    <div>
                        <div class="row">
                            <div>
                                <h1 style="margin-left:50px">İletişim</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="well well-sm">
                                <form id="contactForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="name">
                                                    Adınız:
                                                </label>
                                                <input type="text" class="form-control" id="name" placeholder="Ad" required="required" />
                                            </div>
                                            <div class="form-group">
                                                <label for="email">
                                                    Email Adresiniz:
                                                </label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-envelope"></span>
                                                    </span>
                                                    <input type="text" class="form-control" id="email" placeholder="Email" required="required" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="subject">
                                                    Konu
                                                </label>
                                                <select id="subject" name="subject" class="form-control" required="required">
                                                    <option value="na" selected="">Birini seçiniz:</option>
                                                    <option value="service">Site Hakkında</option>
                                                    <option value="suggestions">Kitaplar Hakkında</option>
                                                    <option value="product">Diğer</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="name">
                                                    Mesajınız:
                                                </label>
                                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                                          placeholder="Buraya yazınız.."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary pull-right" id="sbmtButton">
                                                Gönder
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div> <br />  <br /> <br /><br /><br />  <br /> <br /><br /><br />  <br /> <br /><br /><br />  <br /> <br /><br /><br />
    <div id="footer">

        <div id="footnote">
            <div class="clearfix">


            </div>
        </div>
    </div>
 
    
</body>
</html>

