﻿<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kitabım</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Custom/css/Library.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="~/Custom/css/Home.css" rel="stylesheet" />
    <script src="~/Custom/js/FontAwesome.js"></script>
</head>
<body>
    <div id="header">
        <div class="clearfix">
            <div class="logo">
                <h2 style="color:aliceblue">Kitabım</h2> <img src="~/Custom/img/kitap.gif" width="110px" height="100px" margin-left="60px" />

            </div>
            <ul class="navigation">
                <li>
                    <a href="/home/library">Kitaplık</a>
                </li>
                <li>
                    <a href="">İstatistikler</a>
                </li>
                <li>
                    <a href="">Trendler</a>
                </li>
                <li>
                    <a href="">Alıntılar</a>
                </li>
                <li>
                    <a href="/home/contact">İletişim</a>

                </li>
                <li>
                    <a href="/userlogin/index">Giriş Yap</a>

                </li>
                <li>
                    <a href="/userlogin/register">Üye Ol</a>

                </li>

            </ul>
        </div>
    </div>
    <div id="contents">
        <div id="adbox">
            <div class="clearfix">
                <img src="images/family-large.jpg" alt="Img" height="382" width="594">
                <div class="detail">
                    <h1>It’s never easy...<br> When it comes to family.</h1>
                    <p>
                        But we can set<br> everything straight.
                    </p>
                </div>
            </div>
        </div>
        <div class="highlight">
            <p style="font-family:Georgia; font-size:25px; color:gray; position:absolute; left:160px; top:300px">Bizden Haberler</p> <br />
            <style type="text/css">
                .container1 {
                    width: 660px;
                    margin-left: 15%;
                    top: 50px;
                    position: relative;
                    padding: 0;
                }

                .folio_block {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin: -140px 0 0 -395px;
                }

                .main_view {
                    float: left;
                    position: relative;
                }

                .window {
                    height: 240px;
                    width: 660px;
                    -moz-box-shadow: 0 0 5px #303030;
                    -webkit-box-shadow: 0 0 5px #303030;
                    box-shadow: 0 0 5px #303030;
                    border: 1px solid #000;
                    overflow: hidden;
                    position: relative;
                    top: 70px;
                }

                .image_reel {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                    .image_reel img {
                        float: left;
                    }

                .paging_btrix {
                    position: absolute;
                    bottom: 10px;
                    right: -7px;
                    width: 178px;
                    height: 47px;
                    z-index: 100;
                    text-align: center;
                    line-height: 40px;
                    display: none;
                    background: gray;
                    top: 270px;
                }

                    .paging_btrix a {
                        text-decoration: none;
                        color: white;
                        padding: 5px;
                    }

                        .paging_btrix a.active {
                            font-weight: 700;
                            background: pink;
                            border: 1px solid #610000;
                            -moz-border-radius: 3px;
                            -khtml-border-radius: 3px;
                            -webkit-border-radius: 3px;
                        }

                        .paging_btrix a:hover {
                            font-weight: 700;
                        }
            </style>
            <div class="container1">
                <div class="main_view">
                    <div class="window" style="margin-left:-120px; margin-top:-10px">
                        <div class="image_reel">
                            <a href="http://www.dr.com.tr" title="D & R de İndirimmm">
                                <img src="~/Custom/img/DR.jpg" />
                            </a>
                            <a href="http://www.idefix.com" title="İdefix">
                                <img src="~/Custom/img/idefix.jpg" />
                            </a>
                            <a href="https://www.kitapsec.com" title="KitapSec">
                                <img src="~/Custom/img/kitapSec.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="paging_btrix">
                        <a href="#" rel="1">1</a>
                        <a href="#" rel="2">2</a>
                        <a href="#" rel="3">3</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="featured">
            <p style="font-family:Georgia; font-size:18px; color:gray; position:absolute; left:1000px; top:300px">Haftanın Kitabı</p>
            <div class="col-xs-12 col-sm-6 col-md-4" style="margin-left:800px; margin-top:-150px">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p>
                                        <img class=" img-fluid" src="~/Custom/img/memo.jpg" alt="card image">
                                    </p>
                                    <h4 class="card-title">Memo ve Ay</h4>
                                    <p class="card-text">
                                        Sevdiklerimize neler verebiliriz? Onlar için neleri göze alabiliriz? Sevdiklerimizi kucaklamak için açtığımız kollarımız nereye kadar uzanabilir?
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Memo ve Ay</h4>
                                    <p class="card-text">
                                        Küçük Memo annesine sevgisini ifade edebilmek için ona büyük bir hediye vermek istedi; annesinin yüreği gibi kocaman, şefkatli kucağı gibi sıcacık, pırıl pırıl gülümseyişi gibi aydınlık... <br />
                                        Yazar: Alice Briere Haquet   <br />
                                        Çevirmen: Sumru Ağıryürüyen <br />
                                        Sayfa Sayısı: 36
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <br />  <br /> <br /><br /><br />  <br /> <br /><br /><br />  <br /> <br /><br /><br />  <br /> <br /><br /><br />
    <div id="footer">
      
        <div id="footnote">
            <div class="clearfix">
               

            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="~/Scripts/index.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".paging_btrix").show(); $(".paging_btrix a:first").addClass("active"); var imageWidth = $(".window").width(); var imageSum = $(".image_reel img").size(); var imageReelWidth = imageWidth * imageSum; $(".image_reel").css({ 'width': imageReelWidth }); rotate = function () { var triggerID = $active.attr("rel") - 1; var image_reelPosition = triggerID * imageWidth; $(".paging_btrix a").removeClass('active'); $active.addClass('active'); $(".image_reel").animate({ left: -image_reelPosition }, 500) }; rotateSwitch = function () {
                play = setInterval(function () { $active = $('.paging_btrix a.active').next(); if ($active.length === 0) { $active = $('.paging_btrix a:first') } rotate() },
                    5000)
            }; rotateSwitch(); $(".image_reel a").hover(function () { clearInterval(play) }, function () { rotateSwitch() }); $(".paging_btrix a").click(function () { $active = $(this); clearInterval(play); rotate(); rotateSwitch(); return false })
        });
    </script>

    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDSMMwpudnDW3RQrA_WZZrTS7nd0kkpg-A",
            authDomain: "webdeneme-1406a.firebaseapp.com",
            databaseURL: "https://webdeneme-1406a.firebaseio.com",
            projectId: "webdeneme-1406a",
            storageBucket: "",
            messagingSenderId: "871860241046"
        };
        firebase.initializeApp(config);

    </script>
</body>
</html>