﻿
@{
    ViewBag.Title = "Library";
}
<html>
<head>
    <meta charset="UTF-8">
    <title>Kitabım</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Custom/css/Library.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="~/Custom/css/Home.css" rel="stylesheet" />
    <script src="~/Custom/js/FontAwesome.js"></script>
</head>
<body>
    <div id="header">
        <div class="clearfix">
            <div class="logo">
                <h2 style="color:aliceblue">Kitabım</h2> <img src="~/Custom/img/kitap.gif" width="110px" height="100px" margin-left="60px" />

            </div>
            <ul class="navigation">
                <li class="active">
                    <a href="/home/library">Kitaplık</a>
                </li>
                <li>
                    <a href="">İstatistikler</a>
                </li>
                <li>
                    <a href="">Trendler</a>
                </li>
                <li>
                    <a href="">Alıntılar</a>
                </li>
                <li>
                    <a href="">İletişim</a>

                </li>
                <li>
                    <a href="/userlogin/index">Giriş Yap</a>

                </li>
                <li>
                    <a href="/userlogin/register">Üye Ol</a>

                </li>

            </ul>
        </div>
    </div>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
    <input type="button" value="Ara" />

    <script>
        function myFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";

                }
            }
        }
    </script>

    <div id="contents">
        <section id="team" class="pb-5">
            <div class="container">
                <div class="row">
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class=" img-fluid" src="~/Custom/img/kucukprens.jpg" alt="Küçük Prens">
                                            </p>
                                            <h4 class="card-title">Küçük Prens</h4>
                                            <p class="card-text">Antoine de Saint-Exupéry tarafından New York’ta bir otel odasında yazılan Küçük Prens yayımlandığı günden bu yana milyonlarca insanın kalbini fethetmeye devam ediyor. Küçük Prens’in yaşadıklarını anlıyor, kırgınlıklarına üzülüyor, söylediklerine hak veriyoruz.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Detaylar</h4>
                                            <p class="card-text">
                                                Kimdir Küçük Prens, neden sürekli sorular sorar, çiçeğiyle neden anlaşamamıştır, gittiği diğer gezegenlerde kimlerle karşılaşmıştır ve neler öğrenmiştir? Bu öyküyü dinlerken Küçük Prens’in yaşadıkları ve öğrendikleri sayesinde hayatımıza tekrar bakıyoruz ve yaşamı anlamlandırmada ‘ne kadar da büyüdüğümüzü” görüyoruz. Küçük Prens’in de dediği gibi “Büyüklere her şeyi açıklamak gerekir zaten.” <br />
                                                Yazar: Antoine de Saint-Exupéry <br />
                                                Çevirmen: Sumru Ağıryürüyen <br />
                                                Sayfa Sayısı: 96
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class=" img-fluid" src="~/Custom/img/sekerportakali.jpg" alt="card image">
                                            </p>
                                            <h4 class="card-title">Şeker Portakalı</h4>
                                            <p class="card-text">Brezilyalı ünlü yazar Jos Mauro de Vasconcelos, 1920'de Rio de Janeiro yakınlarında, Bangu'da doğdu. Çok yoksul olan ailesi, onu Natal kasabasındaki amcasının yanına yolladı.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Şeker Portakalı</h4>
                                            <p class="card-text">
                                                Orada dokuz yaşındayken Potengi Irmağında yüzmeyi öğrendi ve hep günün birinde yüzme şampiyonu olmanın hayâlini kurdu. Liseyi Natal'de bitirdikten sonra iki yıl tıp öğrenimi gördü. Öğrenimini yarıda bırakıp yeni hayâller peşinde Rio de Janeiro'ya döndü.<br />
                                                Yazar: Jose Mauro De Vasconcelos  <br />
                                                Çevirmen: Aydın Emeç <br />
                                                Sayfa Sayısı: 182
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class=" img-fluid" src="~/Custom/img/memo.jpg" alt="card image">
                                            </p>
                                            <h4 class="card-title">Memo ve Ay</h4>
                                            <p class="card-text">
                                                Sevdiklerimize neler verebiliriz? Onlar için neleri göze alabiliriz? Sevdiklerimizi kucaklamak için açtığımız kollarımız nereye kadar uzanabilir?
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Memo ve Ay</h4>
                                            <p class="card-text">
                                                Küçük Memo annesine sevgisini ifade edebilmek için ona büyük bir hediye vermek istedi; annesinin yüreği gibi kocaman, şefkatli kucağı gibi sıcacık, pırıl pırıl gülümseyişi gibi aydınlık... <br />
                                                Yazar: Alice Briere Haquet   <br />
                                                Çevirmen: Sumru Ağıryürüyen <br />
                                                Sayfa Sayısı: 36
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class=" img-fluid" src="~/Custom/img/simyaci.jpg" alt="card image">
                                            </p>
                                            <h4 class="card-title">Simyacı</h4>
                                            <p class="card-text">
                                                Simyacı, Brezilyalı eski şarkı sözü yazarı Paulo Coelho'nun, yayınlandığı 1988 yılından bu yana dünyayı birbirine katan, eleştirmenler tarafından bir `fenomen' olarak değerlendirilen üçüncü romanı. Simyacı, altı yılda kırk iki ülkede yedi milyondan fazla sattı.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Simyacı</h4>
                                            <p class="card-text">
                                                Bu, Gabriel Garcia Marquez'den bu yana görülmemiş bir olay. Yüreğinde, çocukluğunu yitirmemiş olan okurlar için bir `klasik' kimliği kazanan Simyacı'yı Saint-Exupery'nin Küçük Prens'i ve Richard Bach'ın Martı Jonathan Livingston'u ile karşılaştıranlar var. <br />
                                                Yazar: Paulo Coelho  <br />
                                                Çevirmen: Özdemir İnce <br />
                                                Sayfa Sayısı: 184
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class=" img-fluid" src="~/Custom/img/yabanci.jpg" alt="card image">
                                            </p>
                                            <h4 class="card-title">Yabancı</h4>
                                            <p class="card-text">Albert Camus'nün ( 1913-1960) en tanınmış, en çok yabancı dile çevrilmiş, en çok incelenmiş ve hala en çok satan kitaplar arasında yer alan Yabancı, aynı zamanda yazarın en gizemli yapıtı. </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Yabancı</h4>
                                            <p class="card-text">
                                                Ölümün egemen olduğu bir varlıkın en anlamsız olgularını saçma bir düzensizlik içinde yaşayan bu romanın başkişisi Meursault, bir simge kahraman değildir, adı olmayan bir Yabancıdır. <br />
                                                Yazar: Albert Camus  <br />
                                                Çevirmen: Samih Tiryakioğlu <br />
                                                Sayfa Sayısı: 111
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class=" img-fluid" src="~/Custom/img/huzursuzluk.jpg" alt="card image">
                                            </p>
                                            <h4 class="card-title">Huzursuzluk</h4>
                                            <p class="card-text">İstanbul’un kargaşası içinde sıradan bir yaşam süren İbrahim, çocukluk arkadaşı Hüseyin’in ölüm haberi üzerine doğduğu kadim kent Mardin’e gider. Onun, önce sevdaya sonra ölüme yazılmış, Mardin’de başlayıp Amerika’da sona ermiş hayatını araştırmaya koyulur. </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Huzursuzluk</h4>
                                            <p class="card-text">
                                                Böylece âdeta bir girdabın içine çekilir, tutkuyla ve hırsla gizemli bir kadının peşine düşer. Harese nedir, bilir misin? Develerin çölde çok sevdiği bir diken var. Deve dikeni yedikçe ağzı kanar.<br />
                                                Yazar: Zülfü Livaneli  <br />
                                                Sayfa Sayısı: 160
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class=" img-fluid" src="~/Custom/img/sapiens.jpg" alt="card image">
                                            </p>
                                            <h4 class="card-title">Sapiens</h4>
                                            <p class="card-text">- Homo sapiens neden ekolojik bir seri katile dönüştü? - Para neden herkesin güvendiği tek şey?</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Sapiens</h4>
                                            <p class="card-text">
                                                - Kadınlar üstün sosyal becerilere sahipken, neden çoğu toplum erkek egemen? - Güç elde etmekte böylesine yetenekli olan insanlar neden bu gücü mutluluğa dönüştürmekte başarısızlar? - Geleceğin dini bilim mi?  <br />
                                                Yazar: Yuval Noah Harari <br />
                                                Çevirmen: Ertuğrul Genç <br />
                                                Sayfa Sayısı: 412
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class=" img-fluid" src="~/Custom/img/sevdimGitti.jpg" alt="card image">
                                            </p>
                                            <h4 class="card-title">Sevdim Gitti</h4>
                                            <p class="card-text">
                                                Çırpınıyorum, boğuluyorum. Olmadığın her an biraz daha ölüyorum, biraz daha seviyorum. Bir yerden eksiliyor, bir  yerden büyüyorum. Yokluğunda eksiğim, tamamlanamıyorum.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Sevdim Gitti</h4>
                                            <p class="card-text">
                                                Beni sevmediğin her an yok
                                                oluyorum, parçalanıyorum.
                                                Oysa ne güzel severdik birbirimizi,
                                                hep en acıyan yerlerimizden <br />
                                                Yazar: Merthan Demir  <br />
                                                Sayfa Sayısı: 176
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class=" img-fluid" src="~/Custom/img/baslangic.jpg" alt="card image">
                                            </p>
                                            <h4 class="card-title">Başlangıç</h4>
                                            <p class="card-text">Genç adam, aniden üç büyük dinin temsilcilerine döndü. “Şaşırtıcı bulacağınızı tahmin ettiğim bilimsel bir buluşum sebebiyle bugün buradayım. </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Başlangıç</h4>
                                            <p class="card-text">
                                                İnsanlık deneyimimizin en temel iki sorusuna cevap bulma ümidi ile yıllardır peşinden koşuyordum. Bu bilginin tüm inananları derinden etkileyeceğine inanıyorum.  <br />
                                                Yazar: Dan Brown  <br />
                                                Çevirmen: Petek Demir<br />
                                                Sayfa Sayısı: 536
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class=" img-fluid" src="~/Custom/img/yedinci.jpg" alt="card image">
                                            </p>
                                            <h4 class="card-title">Yedinci En Önemli Şey</h4>
                                            <p class="card-text">
                                                Soğuk bir Kasım günü on üç yaşında bir çocuk, beklenmedik bir suç işledi.
                                                Olaylar normal bir seyir izledi ve suçlu yakalanarak mahkemeye çıkarıldı.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Yedinci En Önemli Şey</h4>
                                            <p class="card-text">
                                                Herkes çocuğa ciddi bir ceza verilmesini isterken, çocuğun hedefindeki yaşlı adamın tuhaf bir fikri vardı. Çocuk ceza olarak Yedi En Önemli Şey’i arayacaktı.
                                                <br />
                                                Yazar: Shelley Pearsall  <br />
                                                Çevirmen: Atilla İzgi Turgut<br />
                                                Sayfa Sayısı: 288
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class=" img-fluid" src="~/Custom/img/olagan.jpg" alt="card image">
                                            </p>
                                            <h4 class="card-title">Olağanüstü Bir Gece</h4>
                                            <p class="card-text">Olağanüstü Bir Gece, seçkin bir burjuva olarak rahat ve tasasız varoluşunu sürdürürken giderek duyarsızlaşan bir adamın hayatındaki dönüştürücü deneyimin hikâyesidir. </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Olağanüstü Bir Gece</h4>
                                            <p class="card-text">
                                                Sıradan bir Pazar gününü at yarışlarında geçirirken, belki de ilk kez burjuva ahlakından saparak “suç” işler. Böylece yeniden “hissetmeye” başladığını, kötücül ve ateşli hazları olan gerçek bir insan olduğunu fark eder.
                                                <br />
                                                Yazar: Stefan Zweig <br />
                                                Çevirmen: İlknur İgan<br />
                                                Sayfa Sayısı: 80
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class=" img-fluid" src="~/Custom/img/1984.jpg" alt="card image">
                                            </p>
                                            <h4 class="card-title">1984</h4>
                                            <p class="card-text">
                                                Her şeyi yutuyorlar ve hiçbir zarar görmüyorlardı çünkü tıpkı bir mısır tanesinin bir kuşun bedeninden sindirilmeden geçip gitmesi gibi, yuttuklarından geriye bir şey kalmıyordu.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">1984</h4>
                                            <p class="card-text">
                                                Geçmişte ve günümüzde dünya sahnesinde tezgâhlanan oyunlar düşünüldüğünde, ütopik olduğu kadar gerçekçi bir romandır Bin Dokuz Yüz Seksen Dört. Güncelliğini hiçbir zaman yitirmeyen bir başyapıttır; yalnızca yarına değil, bugüne de ilişkin bir uyarı çığlığıdır.
                                                <br />
                                                Yazar: George Orwell  <br />
                                                Çevirmen: Celal Üster<br />
                                                Sayfa Sayısı: 352
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p>
                                                <img class=" img-fluid" src="~/Custom/img/momo.jpg" alt="card image">
                                            </p>
                                            <h4 class="card-title">Momo</h4>
                                            <p class="card-text">Momo, büyük bir kentin tiyatro harabelerinde yaşayan küçük bir kızdır. Buldukları ya da kendisine hediye edilenler dışında hiçbir şeyi yoktur.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Momo</h4>
                                            <p class="card-text">
                                                Ancak olağanüstü bir yeteneği vardır: Momo, muhteşem bir dinleyicidir ve bunun için oldukça bol zamanı vardır.
                                                Bir gün hayaletimsi topluluk “duman adamlar” ortaya çıkar. İnce hesaplı planlar kurup insanların zamanını çalarlar.
                                                <br />
                                                Yazar: Michael Ende  <br />
                                                Çevirmen: Leman Çalışkan<br />
                                                Sayfa Sayısı: 304
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
    <div id="footer">
       
       
        <div id="footnote">
           
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="~/Scripts/index.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDSMMwpudnDW3RQrA_WZZrTS7nd0kkpg-A",
            authDomain: "webdeneme-1406a.firebaseapp.com",
            databaseURL: "https://webdeneme-1406a.firebaseio.com",
            projectId: "webdeneme-1406a",
            storageBucket: "",
            messagingSenderId: "871860241046"
        };
        firebase.initializeApp(config);
    </script>
</body>
</html>