﻿@{
    ViewBag.Title = "Register";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kitabım</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="~/Custom/css/Home.css" rel="stylesheet" />
    <script src="~/Custom/js/FontAwesome.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>

    <div id="header">
        <div class="clearfix">
            <div class="logo">
                <h2 style="color:aliceblue">Kitabım</h2> <img src="~/Custom/img/kitap.gif" width="110px" height="100px" margin-left="60px" />

            </div>
            <ul class="navigation">
                <li>
                    <a href="/home/library">Kitaplık</a>
                </li>
                <li>
                    <a href="">İstatistikler</a>
                </li>
                <li>
                    <a href="">Trendler</a>
                </li>
                <li>
                    <a href="">Alıntılar</a>
                </li>
                <li>
                    <a href="/home/contact">İletişim</a>

                </li>
                <li >
                    <a href="/userlogin/index">Giriş Yap</a>

                </li>
                <li class="active">
                    <a href="/userlogin/register">Üye Ol</a>

                </li>

            </ul>
        </div>
    </div>
    <div id="contents" >
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h3 class="title">Kayıt</h3>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center" >
                    <div class="form-group" >
                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="name" id="full_name" placeholder="Enter your Name" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="email" id="user_email" placeholder="Enter your Email" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="username" id="user_name" placeholder="Enter your Username" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" id="user_password" placeholder="Enter your Password" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group ">
                        <button id="btnSignUp" onclick="createUser()" type="button" class="btn btn-primary ">Kayıt Ol</button>
                    </div>
            </div>
        </div>
    </div> <br />  <br /> <br /><br /><br />  <br /> <br /><br /><br />  <br /> <br /><br /><br />  <br /> <br /><br /><br />
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="~/Scripts/index.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDSMMwpudnDW3RQrA_WZZrTS7nd0kkpg-A",
            authDomain: "webdeneme-1406a.firebaseapp.com",
            databaseURL: "https://webdeneme-1406a.firebaseio.com",
            projectId: "webdeneme-1406a",
            storageBucket: "",
            messagingSenderId: "871860241046"
        };
        firebase.initializeApp(config);

        function userLogin() {
            var userEmail = document.getElementById('email_field').value;
            var userPass = document.getElementById('password_field').value;

            firebase.auth().signInWithEmailAndPassword(userEmail, userPass).catch(function (error) {
                var errorCode = error.code;
                var errorMessage = error.message;
            });

            window.alert("Error: " + errorMessage);
        }

        function createUser() {

            var database = firebase.database();
            var ref = database.ref("Users/");

            var email = $("#user_email").val();
            var password = $("#user_password").val();
            kayit(email, password);
            var user_image = $("user_image").val();
            var emailid = firebase.auth().currentUser.uid;


            var data = {
                "full_name": $("#full_name").val(),
                "role": false,
                "user_id": emailid,
                "user_name": $("#user_name").val(),
                "user_image": $("#user_image").val()
            }

            ref.push(data);
            /* ref.child(emailid).set({
                  "full_name": $("#full_name").val(),
                 "role": false,
                 "user_id": emailid,
                 "user_name": $("#user_name").val(),
                 "user_image": $("user_image").val(),
             });
             console.log(emailid); */
        }

        function kayit(email, password) {
            firebase.auth().createUserWithEmailAndPassword(email, password).catch(function (error) {
                var errorCode = error.code;
                var errorMessage = error.message;
            });
        }  
    </script>
</body>
</html>
