﻿
@{
    ViewBag.Title = "UserLogin";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kitabım</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="~/Custom/css/Home.css" rel="stylesheet" />
    <script src="~/Custom/js/FontAwesome.js"></script>
</head>

<body>

    <div id="header">
        <div class="clearfix">
            <div class="logo">
                <h2 style="color:aliceblue">Kitabım</h2> <img src="~/Custom/img/kitap.gif" width="110px" height="100px" margin-left="60px" />

            </div>
            <ul class="navigation">
                <li>
                    <a href="/home/library">Kitaplık</a>
                </li>
                <li>
                    <a href="">İstatistikler</a>
                </li>
                <li>
                    <a href="">Trendler</a>
                </li>
                <li>
                    <a href="">Alıntılar</a>
                </li>
                <li >
                    <a href="/home/contact">İletişim</a>

                </li>
                <li class="active">
                    <a href="/userlogin/index">Giriş Yap</a>

                </li>
                <li>
                    <a href="/userlogin/register">Üye Ol</a>

                </li>

            </ul>
        </div>
    </div>
    <div id="contents">
        <link href="~/Custom/css/UserLogin.css" rel="stylesheet" />
        <script src="~/Custom/js/UserLogin.js"></script>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12">
                                   <h1 style="margin-left:210px">Login</h1>
                                </div>

                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div id="user_div" class="col-lg-12">
                                    <div id="login-form" action="" method="post" role="form">
                                        <div class="form-group">
                                            <input style="margin-left:110px" type="text" name="username" id="email_field" tabindex="1" class="form-control" placeholder="Email" value="">
                                        </div>
                                        <div class="form-group">
                                            <input style="margin-left:110px"  type="password" name="password" id="password_field" tabindex="2" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="form-group text-center">
                                            <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                            <label for="remember"> Remember Me</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <a href="/userprofile/userprofile"> <input onclick="userLogin()" type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Giriş Yap"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="text-center">
                                                        <a href="/userlogin/forgotpassword" tabindex="5" class="forgot-password">Şifremi Unuttum</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div action="" method="post" role="form">
                                        <a href="/userlogin/register" style="margin-left:200px">Kaydınız yok mu?</a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <br />  <br /> <br /><br /><br />  <br /> <br /><br /><br />  <br /> <br /><br /><br />  <br /> <br /><br /><br />
    <div id="footer">

        <div id="footnote">
            <div class="clearfix">


            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="~/Scripts/index.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDSMMwpudnDW3RQrA_WZZrTS7nd0kkpg-A",
            authDomain: "webdeneme-1406a.firebaseapp.com",
            databaseURL: "https://webdeneme-1406a.firebaseio.com",
            projectId: "webdeneme-1406a",
            storageBucket: "",
            messagingSenderId: "871860241046"
        };
        firebase.initializeApp(config);

    </script>
</body>
</html>



