﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="~/scripts/index.js"></script>
<h2>Index</h2>
<body>
    <h2>derya</h2>
    <div>
        <h2>Değiştir</h2>
        <h2>Değiştir</h2>
        <h2>Değiştir</h2>
    </div>
    <div class="mainDiv" align="right">
        <h1 align="left">Firebase Web App</h1>
        <textarea id="mainText" placeholder="Enter text here..."></textarea>
        <button id="submitBtn" onclick="submitClick()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>


    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDrU7GGraMH6-ZEDoLvIYbAmTv83ugh1kE",
    authDomain: "goruyorsunuz-ef7b0.firebaseapp.com",
    databaseURL: "https://goruyorsunuz-ef7b0.firebaseio.com",
    projectId: "goruyorsunuz-ef7b0",
    storageBucket: "",
    messagingSenderId: "691519660643"
  };
  firebase.initializeApp(config);
    </script>
</body>
